*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.containeer{
    width: 60%;
    height: 40vh;
    background: aliceblue;
    margin: 130px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    text-align: center;
}